 html,
body {
	height: 100%;
}

body {
	padding-top: 20px;
}

.homepage-login {
	margin-left: 90px;
}

.container-narrow {
   margin: 0 auto;
   max-width: 700px;
}
.container-narrow > hr {
   margin: 30px 0;
}

.controlwords {
	margin-top: 5px;
}

.select-mini {
	width: 100px;
}

.span-group {
	width: 240px;
	float: left;
}

.sidebar-nav {
        padding: 9px 0;
 }

#advertisement {
	text-align: center;'
}


#footer {
	text-align: center;
}


#panel-nav {
	
}

#panel-nav-ul {
	list-style: none;
}

#panel-nav-ul li{
	border: 5px solid #fff;
    background: #e2f0ff;
	height: 240px;
    overflow: hidden;
    font-size: 28px;
    line-height: 1.1em;
    color: #005382;
    
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#panel-nav-ul li:hover {
    color: #000;
    background-color: #f5f5f5;
}

.menu-title {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 70%;
	width: 90%;
}