 html,
body {
	height: 100%;
}

body {
	padding-top: 20px;
}

.homepage-login {
	margin-left: 90px;
}

.container-narrow {
   margin: 0 auto;
   max-width: 700px;
}
.container-narrow > hr {
   margin: 30px 0;
}

.controlwords {
	margin-top: 5px;
}

.select-mini {
	width: 100px;
}

.span-group {
	width: 240px;
}

.sidebar-nav {
        padding: 9px 0;
 }

#advertisement {
	text-align: center;'
}


#footer {
	text-align: center;
}